fixMozillaZIndex=true; //Fixes Z-Index problem  with Mozilla browsers but causes odd scrolling problem, toggle to see if it helps
_menuCloseDelay=500;
_menuOpenDelay=150;
_subOffsetTop=2;
_subOffsetLeft=-2;




with(menuStyle=new mm_style()){
bordercolor="#999999";
borderstyle="solid";
borderwidth=1;
fontfamily="Verdana, Tahoma, Arial";
fontsize="85%";
fontstyle="normal";
headerbgcolor="#ffffff";
headercolor="#000000";
offbgcolor="#E5ECF9";
offcolor="#000000";
onbgcolor="#ddffdd";
oncolor="#000099";
outfilter="randomdissolve(duration=0.3)";
overfilter="Fade(duration=0.2);Alpha(opacity=90);Shadow(color=#777777', Direction=135, Strength=3)";
padding=4;
pagebgcolor="#82B6D7";
pagecolor="black";
separatorcolor="#999999";
separatorsize=1;
subimage="/images/arrow.gif";
subimagepadding=2;
}

with(milonic=new menuname("Main Menu")){
alwaysvisible=1;
orientation="horizontal";
style=menuStyle;
aI("showmenu=jp;text=日本語辞書;url=http://dahlia.naist.jp:3000/jp;");
aI("showmenu=cn;text=汉语辞典;url=http://dahlia.naist.jp:3000/cn;");
}

with(milonic=new menuname("jp")){
overflow="scroll";
style=menuStyle;
aI("text=Top;url=http://dahlia.naist.jp:3000/jp;")
aI("text=新規単語;url=http://dahlia.naist.jp:3000/jp/new;")
aI("text=ルート編集;url=http://dahlia.naist.jp:3000/jp/define_root;")
aI("showmenu=property;text=属性管理;url=http://dahlia.naist.jp:3000/jp_property/lexeme_property_index;")
}

with(milonic=new menuname("property")){
overflow="scroll";
style=menuStyle;
aI("text=単語属性;url=http://dahlia.naist.jp:3000/jp_property/lexeme_property_index;");
aI("text=複合語属性;url=http://dahlia.naist.jp:3000/jp_property/synthetic_property_index;");
}

with(milonic=new menuname("cn")){
style=menuStyle;
aI("text=Top;url=http://dahlia.naist.jp:3000/cn;")
aI("text=新建词汇;url=http://dahlia.naist.jp:3000/cn/new;");
aI("text=词性表;url=;");
}

drawMenus();