<div class="User-control" style="padding-left: 4%;">
    <fieldset  style="width:50%;">
        <legend>Please login</legend>
        <%= form_tag :action => "login", :method => "post"%>
			<div align="center" style="padding-top:15px;">
				<table>
					<tr height=30px>
						<td align="right"><strong>ID:</strong></td>
						<td><%= text_field_tag :name, params[:name], :class=>'text-field' %></td>
					</tr>
					<tr height=30px>
						<td align="right"><strong>Password:</strong></td>
						<td><%= password_field_tag :password, params[:password], :class=>'text-field' %></td>					
					</tr>
					<tr>
						<td></td>
						<td><%= submit_tag "Login" %></td>
					</tr>
				</table>
			</div>
    </fieldset>
</div>