<div id="show_desc" style="align:center; height:100%;" onclick="Effect.SlideUp('show_desc')">
	<%= generate_script_part(:id=>id, :domain=>domain, :use_link=>'false', :call_javascript=>'true') %>
	<div id="myTreeContainer"></div>
</div>