<div class="User-control"  style="margin-left:2%;">
    <fieldset style="width:90%; background: #f7faff;">
        <legend style="background: #1e2078;">Root編集</legend>
        <% form_remote_tag  :url => {:action => :define_root}, :update=>"preview_same_root", :html => {:id => "main_input"} do %>
			<div style="padding-left:20px; padding-top:10px;">
				<div style="padding-top:10px;">
					<%= radio_button_tag 'type', "define", true %><strong>Root系列指定</strong>（半角コンマ区切りで単語のIDを入力）
					<div style="padding-left:2%;">
						<input name="id_list" id="id_list" type="text" style="width:80%;" class="text-field" />
						を同じRoot系列に指定する
						<p>
						<strong>Optional:</strong><br />
						Root単語（ID一つ）
						<input name="option_real_root" id="real_root_1" type="text" style="width:20%;" class="text-field" /> (Root単語になれるのはBase単語のみ)
					</div>
				</div>
				<div style="padding-top:10px;">
					<%= radio_button_tag 'type', "destroy", false %><strong>Root系列から外す</strong>
					<div style="padding-left:2%;">
						単語（ID一つ）
						<input name="destroy_root" id="destroy_root" type="text" style="width:20%;" class="text-field" />
						のBase系列をRoot系列から外す
					</div>
				</div>
			</div>
			<div style="padding-top:10px;padding-left:15px;padding-bottom:10px;">
				<%= button_to_function "リセット", "Form.reset('main_input')" %>
				<%= submit_tag "プレビュー" %>
			</div>
        <% end %>
    </fieldset>
	<p>
	<div id="preview_same_root"></div>
</div>
