<table>
  <tr>
    <th>中国語翻訳</th>
    <td>
      <% unless @lexeme.senses.empty? %>
        <ul class="senses">
          <%= render :partial => 'show_sense', :collection => @senses %>
        </ul>
      <% end %>
    </td>
  </tr>
  <tr>
    <th/>
    <td>
      <% if User.find_by_id(session[:user_id]) %>
	      <table>
		      <tr>
			      <td><%= button_to '編集', {:action => 'edit_trans', :id => @lexeme.id}, :method => :get %></td>
		      </tr>
	      </table>
      <% end %>
    </td>
  </tr>
</table>

