
<tr>
    <th></th>
    <td>
    <% unless edit_sense.translation_to_cn.empty? %>
      <table class="tanslations">
      <% edit_sense.get_translation_to_cn.each do |tran|%>
        <tr>
          <th><%= link_to h(tran.cn_lexeme.surface), :controller=>'cn', :action=>'show', :id=> tran.cn_lexeme.id %></th>
          <td><%= h tran.cn_lexeme.pos_item.tree_string %></td>
          <td><%= h tran.cn_lexeme.dictionary_item.to_s %></td>
          <td><%= link_to 'delete', :tran_id => tran, :controller => 'jp', :action => 'delete_trans', :sense_id => edit_sense.id %></td>
        </tr>
      <% end %>

      </table>
    <% end %>
    </td>
</tr>
