<ul>
  <%= link_to h(show_trans.cn_lexeme.surface), :controller=>'cn', :action=>'show', :id=>show_trans.cn_lexeme.id %>
  <%= h show_trans.cn_lexeme.pos_item.tree_string %>
  <%	temp = []
													show_trans.cn_lexeme.dictionary_item.list.each{|dict|
														next unless session[:jp_dict_id].include?(dict.to_i)
														temp << "<span style='background-color:#{dictionary_color[dict.to_i]};'>&nbsp;&nbsp;</span>"
													}
												%>
												<%= temp.join("  ") %>

</ul>

