<div style="margin-left:20px;float:left;width:400px;">
	<div class="User-control" style="float:left; width:400px;">
		<fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
			<legend style="background: #1e2078;">
				日本語情報
			</legend>
			<div class="list" style="width:100%;">
				<table style="width:100%;">
					<tr>
						<th style="width:100px; row-span: 2;">単語</th>
						<td> <%= link_to @lexeme.surface, :action => 'show', :id => @lexeme.id %> </td>
					</tr>
				</table>
			</div>
		</fieldset>
		<fieldset style="padding-left:10px; padding-right:10px;padding-top:20px; background: #f7faff;">
			<legend style="background: #1e2078;">
				翻訳情報
			</legend>
			<div class="list" style="width:100%;">
				<table style="width:100%;">
					<tr>
						<th style="width:100px; row-span: 2;">中国語翻訳</th>
						<td> <% unless @lexeme.senses.empty? %>
						<%= render :partial => 'show_sense', :collection => @senses %>
						<% end %> </td>
					</tr>
				</table>
			</div>
		</fieldset>
		<% if User.find_by_id(session[:user_id]) %>
		<table>
			<tr>
				<td><%= button_to '編集', {:action => 'edit_trans', :id => @lexeme.id}, :method => :get %></td>
			</tr>
		</table>
		<% end %>
	</div>
</div>
